{% extends 'myapp/base.html' %}

{% block myhdg %}Hello {{ request.user.username }} {% endblock %}

{% block body_block %}
    {% if avg_rating %}
        {% if avg_rating == -1 %}
            <strong>No reviews for the book: {{ book.title }}</strong>
        {% else %}
            <h3><a href="{% url 'myapp:detail' book.id %}">{{ book.title }}</a></h3>
            <h4>Average rating: {{ avg_rating }}</h4>
        {% endif %}
    {% else %}
        <br>
        <strong>You are not a registered member!</strong>
    {% endif %}
    <br>
{% endblock %}