{% extends 'myapp/base.html' %}

{% block title %}Detail{% endblock %}

{% block myhdg %}Hello {{ request.user.username }} {% endblock %}

{% block body_block %}

    <div class="card border-info mb-3" style="max-width: 30rem; margin: 100px auto">
        <div class="card-header">About</div>
        <div class="card-body text-info">
            <h3 class="card-title">{{ book.title.upper }}</h3>
            <p class="card-text">${{ book.price }}</p>
            <p class="card-text">{{ book.publisher }}</p>
        </div>
    </div>
{% endblock %}
