{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Find books{% endblock %}

{% block myhdg %}Hello {{ request.user.username }} {% endblock %}

{% block body_block %}
    <div class="register-form">
        <form action="{% url 'myapp:findbooks' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="submit1" class="btn btn-success register-submit" value="Find Books"/>
        </form>
    </div>
{% endblock %}
