{% extends 'myapp/base.html' %}

{% block myhdg %}Hello {{ request.user.username }} {% endblock %}

{% block body_block %}
    {% if last_login %}
        <p class="login-status">( Last login was {{ last_login }} )</p>
    {% else %}
        <p class="login-status">( Your last login was more than one hour ago )</p>
    {% endif %}

    <div class="body-content">
        {% if booklist %}
            {#            <h2 class="display-4">Books:</h2>#}
            <ol class="list-group">
                {% for book in booklist %}
                    <li class="list-group-item"><a href="{% url 'myapp:detail' book.id %}">{{ book.title }} </a></li>
                {% endfor %}
            </ol>

        {% else %}
            <strong>There are no available books!</strong>
        {% endif %}

        <br><br>
        <a class="btn btn-info" href="{% url 'myapp:place_order' %}">Place order</a>
        <a class="btn btn-warning" href="{% url 'myapp:review' %}">Review book</a>
        <a class="btn btn-secondary" href="{% url 'myapp:orders' %}">Orders</a>
        {#        <img src="{{ request.user.member.image.url }}" alt="Image of the user">#}
    </div>
{% endblock %}
