{% extends 'myapp/base.html' %}

{% block title %}Login{% endblock %}

{% block body_block %}
    <form action="{% url 'myapp:login' %}" method="post" class="form-signin">
        {% csrf_token %}

        <label for="id_username" class="sr-only">Username: </label>
        <input type="text" class="form-control" name="username" id="id_username" placeholder="Email address"
               required autofocus>
        <p></p>

        <label for="id_password" class="sr-only">Password: </label>
        <input type="password" name="password" id="id_password" class="form-control" placeholder="Password"
               required>

        <p></p>
        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
        <input type="submit" name="submit1" class="btn btn-lg btn-primary btn-block" value="Submit"/>
    </form>
{% endblock %}
