{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}

{% block myhdg %}{% endblock %}

{% block body_block %}
    <div class="register-form">
        <form action="{% url 'myapp:register' %}" method="post" class="form-group">
            {% csrf_token %}

            {{ form.username|as_crispy_field }}
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.password1|as_crispy_field }}
                </div>

                <div class="form-group col-md-6">
                    {{ form.password2|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.first_name|as_crispy_field }}
                </div>

                <div class="form-group col-md-6">
                    {{ form.last_name|as_crispy_field }}
                </div>
            </div>
            {{ form.status|as_crispy_field }}
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.address|as_crispy_field }}
                </div>

                <div class="form-group col-md-2">
                    {{ form.city|as_crispy_field }}
                </div>

                <div class="form-group col-md-2">
                    {{ form.province|as_crispy_field }}
                </div>
            </div>
            {{ form.image|as_crispy_field }}
            {{ form.auto_renew|as_crispy_field }}

            <input type="submit" name="submit1" class="btn btn-success register-submit" value="Submit"/>
        </form>
    </div>
{% endblock %}
